<%- include('./common/header') -%>
<!-- header -->

<div class="container-fluid aboutbg ">
    <div class="row p-5">
        <div class="">
           <span class="">
            <h2 class="text-white">Amc Privelege Club</h2>
            <p class="text-white">HOME > SERVICES > <span class="page_active">AMC PRIVELEGE CLUB</span> </p>
           </span>
        </div>   
    </div>
</div>


<div class="container mt-4">
<div class="row">
        <div class="col-md-4 text-center">
            <img class="img-fluid" src="images/mind.jpg" alt="">
           <a href="/amcform"> <button class="btn btn-primary mt-4">Enquiry For AMC<i class="fa-solid fa-arrow-right-long fa-sm"></i></button></a>
        </div>
        <div class="col-md-8">
            <h5>As  a new initiative of MSM Offers wide range of AMC Plans Covering almost all Maruti Models giving a Peace of Mind to Customers.</h5>

            <div>
                <h4 class="h2text">Advantages of AMC</h4>
                <p>&bull; Privilege customer status Your car value goes up as it is maintained by Maruti’s own service station.Reliable and best quality service from the single window of MSM. Fixed rates to help you in better cost planning and control. No tension of price increase of oil/spares & Labour charges.</p>
                <p> &bull; Priority service and job allocation to ensure minimal down-time of your car</p>
                <p> &bull; Dedicated team for AMC customers</p>
                <p> &bull; Genuine spare parts ensured</p>
                <p> &bull; AMC provided by Maruti’s own and operated workshop</p>
                <p> &bull; Free pick-up and drop service within the  NCR only (Up to 15 kms radius)</p>
                <p> &bull; Free washing once in three months</p>
                <p> &bull; Rs. 500 discount on accidental repair once during the contract period (for Gold & Gold Plus customers only)</p>
                <p> &bull; Free dry clean once during contract period (for Gold & Gold Plus customers only)</p>
                <p> &bull; Free top-up of oils and coolant on workshop visit (if required)</p>
                <p> &bull; Six (6) months MSM warranty on spare parts for Gold Plus Customers only</p>
                <p> &bull; 5% discount on MGP counter sales and 5 % discount on selected accessories</p>
                <p> &bull; 5% discount on GoodYear tyres and tubes</p>
                <p> &bull; Free pollution certificate as and when required  </p>
            </div>

          
        </div>
</div>

<div class="row justify-content-center p-3" >
<div class="col-md-10">
    <div>
       <h5>THERE ARE MANY OTHER ADVANTAGES WHICH COULD BE ASCERTAINED FROM OUR AMC COUNTER  BASED ON YOUR CHOICE OF PLAN –<b class="text-danger"> SILVER PLUS, GOLD OR GOLD PLUS</b></h5>
    </div>

    
      <div class="table-responsive">
        <table class="table border ">
          <thead>
            <tr>
              <th class="" scope="col">Plan Type</th>
              <th  scope="col">Unlimited Labour</th>
              <th scope="col">Scheduled Parts</th>
              <th scope="col">Unscheduled Parts   </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="bg-secondary text-white" scope="row">SILVER PLUS</th>
              <td class="bg-secondary text-white">YES</td>
              <td>NO</td>
              <td>NO</td>
            </tr>
            <tr>
              <th class="bg-warning text-white" scope="row">GOLD</th>
              <td class="bg-warning text-white">YES</td>
              <td class="bg-warning text-white">YES</td>
              <td>NO</td>
            </tr>
            <tr>
              <th class="bg-danger text-white" scope="row">GOLD PLUS</th>
              <td class="bg-danger text-white"> YES</td>
              <td class="bg-danger text-white">YES</td>
              <td class="bg-danger text-white">YES</td>
            </tr>
          </tbody>
         
        </table>
      </div>
          <p>Note : terms & conditions apply</p>
    

</div>

</div>
</div>

<!-- footer -->
<%- include('./common/footer') -%>