<%- include('./common/header') -%>
<!-- header end -->

<div class="container-fluid aboutbg ">
    <div class="row p-5">
        <div class="col-md-6">
            <div class="">
                <span class="">
                 <h2 class="text-white">Body paints</h2>
                 <p class="text-white">HOME > SERVICES > <span class="page_active">BODY PAINTS</span> </p>
                </span>
             </div>
        </div>
        <div class="col-md-6">
           
        </div>   
    </div>
</div>
<!-- denting start -->
<div class="container mt-2">
    <div class="row">
        <div class="col-md-6 p-4">
            <h2 class="h2text">Denting & Painting</h2>
            <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
            <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring. Capitalize on low hanging fruit to identify a ballpark value added activity to beta test.</p>
        </div>
        <div class="col-md-6 p-4">
            <img class="img-fluid" src="images/carpait1.jpg" alt="">
        </div>
    </div>
</div>

<!-- denting end -->
<!-- caring start -->
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img class="img-fluid" src="images/caringfor.jpg" alt="">
        </div>
        <div class="col-md-9 py-4 ">
            <p>Best infrastructure in place as crash repairs systems, MIG – MAG & spot welders & paint booth to bring vehicles back to factory finish. Virtually cashless repairs. Fast & invisible repairs, using 2K painting technology.  Customisation options include interiors painting, 2 tone painting & over 70,000 colours.</p>
            <p class=""> <b class="text-danger">* Conditions apply.</b>
            Valid for insurance claims through Maruti Insurance & other empanelled insurance companies</p>
        </div>
    </div>
</div>
<!-- caring start -->
<!-- some facts start  -->
<div class="container p-5 carpaint">
    <div class="row">
        <h2 class="h2text">Some facts works with us</h2>
        <p class="fs-6">Our management consulting services focus on our clients most critical issues and opportunities strategy marketing organization operations, technology transformation digital.</p>

        <div class="col-md-3 ">
            <div class="border border-success p-1 pt-3 out">
                <div class="row">
                    <div class="col-md-4 p-3">
                        <img class="img-fluid" src="images/gear-shift.png" alt="">
                    </div>
                    <div class="col-md-8">
                        <h6>Professional Team</h6>
                        <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches.</p>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="col-md-3 ">
            <div class="border border-success p-1 pt-3 out">
                <div class="row">
                    <div class="col-md-4 p-3">
                        <img class="img-fluid" src="images/gear-shift.png" alt="">
                    </div>
                    <div class="col-md-8">
                        <h6>Quality Products</h6>
                        <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches.</p>
                    </div>
                </div>
            </div>
           
        </div>

        <div class="col-md-3">
            <div class="border border-success p-1 pt-3 out">
                <div class="row">
                    <div class="col-md-4 p-3">
                        <img class="img-fluid" src="images/gear-shift.png" alt="">
                    </div>
                    <div class="col-md-8">
                        <h6>Delivery on Time</h6>
                        <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches.</p>
                    </div>
                </div>
            </div>
           
        </div>

        <div class="col-md-3">
            <div class="border border-success p-1 pt-3 out">
                <div class="row">
                    <div class="col-md-4 p-3">
                        <img class="img-fluid" src="images/gear-shift.png" alt="">
                    </div>
                    <div class="col-md-8 ">
                        <h6>Manufacturing Unit</h6>
                        <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches.</p>
                    </div>
                </div>
            </div>
           
        </div>

</div>
</div>
<!-- some facts end  -->
<!-- footer -->
<%- include('./common/footer') -%>

