<%- include('./common/header') -%>
<!-- header -->
<div class="container-fluid aboutbg ">
    <div class="row p-5">
        <div class="col-md-6">
            <div class="">
                <span class="">
                    <h2 class="text-white">Careers</h2>
                    <p class="text-white">HOME > PAGES > <span class="page_active">CAREERS</span></p>
                </span>
            </div>
        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>
<!-- overview start -->
<div class="container overview p-4">
<div class="row">
     <p>Maruti Service Masters is having model automobile workshops, with superior technology, systems and processes to satisfy customer needs to a greater level and also act as a model to other players, we always welcome qualified & skilled persons</p> 
</div>
</div>

<div class="container-fluid career">
<div class="row p-3">
   <div class="col-md-6 p-5">
    <h1 class="text-white">WORK WITH MARUTI SUZUKI</h1>
    <h5 class="text-white">Join Maruti Suzuki in the amazing journey of defining the way India drives.</h5>
     
     <a href="/jobforms"><button  class="btn btn-primary">APPLY FOR JOB</button></a>
   </div>
</div>
</div>

<div class="container">
<div class="row justify-content-center mx-0 m-0 text-center p-3">
<h5>WHY</h5>
<h1>WORK WITH US</h1>
<div class="col-md-3 out">
    <img class="img-fluid img-overlay" src="images/c3.jpg" alt="">
  </div>
<div class="col-md-3 out">
    <img class="img-fluid" src="images/c2.jpg" alt="">
</div>
<div class="col-md-3 out">
    <img class="img-fluid" src="images/c1.jpg" alt="">
</div>
<div class="col-md-3 out">
    <img class="img-fluid" src="images/c4.jpg" alt="">
</div>
</div>
</div>
<!-- overview end -->
<!-- joinus start -->
<div class="container joinus">
<div class="row justify-content-center p-3 text-center">
    <h1 class="text-center py-4">JOIN US</h1>
<div class="col-md-3 text-center">
    <img class="w-25" src="images/workmanager.png" alt="">
    <h5 class="color">Works Manager :</h5>
    <p> Diploma and Above  in Automobile/Mechanical Engineering having minimum 10-15 years experience in after sales service of four wheeled vehicles.</p>
</div>
<div class="col-md-3">
    <img class="w-25" src="images/serviceadvice.png" alt="">
    <h5 class="color">Service Advisor:</h5>
    <p>Diploma and Above in Automobile/Mechanical Engineering having minimum 2-4 years experience in after sales service of four wheeled vehicle.</p>
</div>

<div class="col-md-3">
    <img class="w-25" src="images/technician.png" alt="">
    <h5 class="color">Technician:</h5>
    <p> ITI with Motor Mechanic (Petrol & Diesel) having 4-6 years experience in servicing of four wheeled vehicle.</p>
</div>

<div class="col-md-4">
    <img class="w-25" src="images/technicaladvisor.png" alt="">
    <h5 class="color">Technical Advisor:</h5>
    <p> Diploma in Automobile/Mechanical Engineering having minimum 4-6 years or ITI with Motor Mechanic having minimum experience 10 years in after sales service of four wheeled vehicle (preferably small car) .</p>
</div>
<div class="col-md-4">
    <img class="w-25" src="images/actechnician.png" alt="">
    <h5 class="color">Auto Electrician cum AC Technician: </h5>
    <p> ITI with Auto Electrician and Refrigeration having 2-4 years experience in servicing of four wheeled vehicle.
        Desired candidate can apply in other disciplines also like Body Shop, Vehicle Insurance, Customer Care, Sales & Marketing and Spare Parts etc. 
        Freshers are also invited.</p>
</div>
</div>
</div>

<!-- joinus end -->
<!-- footer -->
<%- include('./common/footer') -%>