<%- include('./common/header') -%>
<!-- header -->
<div class="container-fluid aboutbg">
    <div class="row p-5">
        <div class="">
           <span class="">
            <h2 class="text-white">Contact Us</h2>
            <p class="text-white">HOME > <span class="page_active">CONTACT US</span></p>
           </span>
        </div>   
    </div>
</div>
<!-- message start -->
<div class="container">
<div class="row p-4">
        <div class="col-md-6 contact">
            <h2 class="h2text p-2">Drop us message ____</h2>
            <p>Praising pain was born and I will give you a complete account of the system, andz</p>
            <form class="" action="/contactus" method="post">
                <input name="name" class="w-100 form-control my-2" type="text" placeholder="Your Name">
                <input  name="email"  class="w-100 form-control my-2" type="email"  placeholder="Your Email">
                <input  name="subject"  class="w-100 form-control my-2"  type="text"  placeholder="Subject">
                <input  name="message"  class="w-100 form-control my-2 " type="text"  placeholder="Message">
               <button type="submit" class="btn btn-primary">SUBMIT</button>
            </form>
        </div>
        <div class="col-md-6  py-4 contact">
            
          <div class="row">
            <div class="col-2 text-end p-3">
                <i class="fa-solid fa-location-dot fa-xl text-danger"></i>  
            </div>
            <div class="col-8">
                <h6  class="color">Address:</h6><p>F-39 OKHLA INDL AREA PHASE – II NEAR C-LAL CHOWK NEW DELHI-</p>
            </div>
          </div>
            
          <div class="row">
            <div class="col-2 text-end p-2">
                <i class="fa-regular fa-envelope fa-xl text-danger"></i> 
            </div>
            <div class="col-8">
                <h6 class="color">Email:</h6><p>@gmail.com</p>
            </div>
          </div>

          <div class="row">
            <div class="col-2 text-end p-2">
                <i class="fa-solid fa-phone fa-xl text-danger"></i>
            </div>
            <div class="col-8">
                <h6 class="color">Phone:</h6><p>011-40685500 / 595,011-26384271 / 72, 011-41612194 / 95</p>
            </div>
          </div>

          <div class="row">
            <div class="col-2 text-end p-2">
                <i class="fa-solid fa-fax fa-xl text-danger"></i>
            </div>
            <div class="col-8">
                <h6 class="color">Fax:</h6> <p>011-26385008</p>
          </div>
       
        </div>    
 </div>
</div>
</div>
<!-- message end -->
<!-- address start -->
<div class="container">
<div class="row address">
    <h2 class="color text-center">Visit Our Branch</h2>
<div class="col-md-4 p-5">
    <img  class="img-fluid" src="images/okhla (1).jpg" alt="">
    <h6 class="color">Address:</h6>
    <p>F-39 Okhla Indl Area Phase-II, Near C-Lal Chowk New Delhi-110020</p>
    <h6  class="color">Phone :</h6><p> 011-40685500 / 595,011-26384271 / 72, 011-41612194 / 95 </p>
    <h6 class="color">fax :</h6><p> 011-26385008</p>
    
</div>
<div class="col-md-4">
    <img  class="img-fluid w-100" src="images/gtk.jpg" alt="">
    <h6 class="color">Address:</h6>
    <p> Maruti Service Masters C-7, SMA Industrial Estate G.T. Karnal Road, Metro Pillar No. 136 Opp. Jahangirpuri,Delhi-110033</p>
    <h6  class="color">Phone :</h6><p> 40715500/01/03, 27693870/ 71/72</p>
    <h6 class="color">fax :</h6><p> 27693256</p>

</div>
<div class="col-md-4">
    <img class="img-fluid w-100" src="images/chn (2).jpg" alt="">
    <h6 class="color">Address:</h6>
    <p>Plot No. 9, South Phase Thiru-vi-ka industrial Estate ( Behind Olympia Tech Park) Chennai -600032.</p>
    <h6  class="color">Phone :</h6><p> 044-43563366 / 67</p>
    <h6 class="color">fax :</h6><p> 044-43563368</p>
</div>
</div>
</div>
<!-- address end -->
<!-- footer -->
<%- include('./common/footer') -%>
