<%- include('./common/header') -%>
    <!-- header -->
        <div class="container-fluid aboutbg ">
            <div class="row p-5">
                <div class="col-md-6">
                    <div class="">
                        <span class="">
                            <h2 class="text-white">FAQs</h2>
                            <p class="text-white">HOME > PAGES > <span class="page_active">FAQs</span></p>
                        </span>
                    </div>
                </div>
                <div class="col-md-6">

                </div>
            </div>
        </div>
    <!-- faq start -->
   <div class="container faqs">
    <div class="row p-2">
        <div class="">
        <h2 class="h2text text-center m-4">Frequently Ask Questions</h2>
       
        
        <div class="tab">
          <button class="tablinks" onclick="openCity(event, 'Car Service')">CAR SERVICE</button>
          <button class="tablinks" onclick="openCity(event, 'Spares')">SPARES</button>
          <button class="tablinks" onclick="openCity(event, 'Annual Maintenace Caontact')">ANNUAL MAINTENANCE CONTRACT (AMC)</button>
          <button class="tablinks" onclick="openCity(event, 'Body & Paints')">BODY & PAINTS</button>
          <button class="tablinks" onclick="openCity(event, 'Age of the Vehicle')">AGE OF THE VEHICLE</button>
          <button class="tablinks" onclick="openCity(event, 'True Value')">TRUE VALUE</button>
          <button class="tablinks" onclick="openCity(event, 'Insurance')">INSURANCE</button>
        </div>
        <div class="faqs2">
        <div id="Car Service" class="tabcontent">
          <h4 class="text-center">CAR SERVICE</h4>
          <div>
            <h6>Q. Why should I come to Maruti Service Masters for Servicing of my car?</h6>
            <p><i class="fa-solid fa-arrow-right fa-lg"></i> Maruti Sevice Masers is an ISO certified service station Owned and Operated by MARUTI SUZUKI INDIA LTD ,equipped with world class tools & equipments, Bodyshop repair & refinish paint system , customer care & assistance , well trained professional technical staff to take care of your car.</p>
          </div>

          <div>
            <h6>Q. What is the importance of " Periodic Maintenace Service " ?</h6>
            <p><i class="fa-solid fa-arrow-right fa-lg"></i>  To prolong the life of your vehicle and reduce maintenance costs, the periodic maintenance must be carried out accoding to the "PERIODIC MAINTENANCE SCHEDULE" described in "INSPECTION AND MAINTENANCE " section of vehicle's OWNER'S MANUAL & SERVICE BOOKLET</p>
          </div>
          
          <div>
            <h6>Q. What is the periodicity of " Periodic Maintenance Service " ? </h6>             
               <p><i class="fa-solid fa-arrow-right fa-lg"></i>  At an interval of 10,000 Km. or one year whichever occurs first.</p>
          </div>

          <div>
            <h6>Q. What are the different types of free services and what is the periodicity of these services ?</h6>
            <p><i class="fa-solid fa-arrow-right fa-lg"></i>  First free service : 1000 km or one month from the date of sale whichever occurs is earlier. 2. Second free service : 5000 km or 6 months from the date of sale whichever occurs is earlier. 3. Third Free service : 10000 km or one year from the date of sale whichever occurs is earlier.</p>
          </div>

          <div>
            <h6>Q. Is cost of consumables covered under free services ?</h6>
            <p> <i class="fa-solid fa-arrow-right fa-lg"></i>  No,As per MSIL policy "COST OF MATERIALS AND CONSUMABLES TO BE BORNE BY CUSTOMER". It is also mentioned in the free service coupon inside the owner's manual .</p>
          </div>

          <div>
            <h6>Q. What is Express Service ?</h6>
            <p><i class="fa-solid fa-arrow-right fa-lg"></i>  Express service is the process to perform faster service of vehicles for higher customer satisfaction. Vehicles of particular criteria are serviced through express service.Dedicated manpower, with pre-defined roles and responsibilities,start performing their job roles on the vehicle.The process of the Express service reduces idle time with increased efficiency. Expected time of service process is 1.5 to 2:00Hrs.</p>
            <p><i class="fa-solid fa-arrow-right fa-lg"></i>  Vehicles having only Scheduled Service Jobs with No Major Repair/ Diagnostic problems. (Excluding 40,000 Km. & 80,000 Kms Service or Vehicles with Major repairs like Clutch , Gear Box, Brakes , Suspension and Steering Overhaul jobs etc are excluded from Express Services.)</p>
          </div>
           
          <div>
            <h6>Q. What is Two Tech Bay?</h6>
            <p><i class="fa-solid fa-arrow-right fa-lg"></i>  In Two Tech Bay two technicians are deputed with high productive tools to carry out the service faster. All type Service & Repair jobs are attended in Two Tech Bay</p>
          </div>

          <div>
            <h6>Q. What is Super Express Service?</h6>
            <p><i class="fa-solid fa-arrow-right fa-lg"></i>  Vehicles requiring 1st / 2nd / 3rd Free services as per MSIL Schedule services are covered under Super Express. This gives quicker delivery to customers who may prefer to wait in Customer lounge. Expected time of Service is 01 -1</p>
          </div>

          <div>
            <h6>Q. What is warranty policy term?</h6>
            <p><i class="fa-solid fa-arrow-right fa-lg"></i>  The term of the Warranty shall be twenty four (24) months or 40,000 kms (whichever occurs first) from the date of delivery to the first owner.</p>
          </div>

          <div>
            <h6>Q. Will warranty of the vehicle get effected if ownership of the vehicle changes?</h6>
            <p><i class="fa-solid fa-arrow-right fa-lg"></i>  No, even if owenership of the vehicle changes, the remaining warranty period is effective for the new owner.</p>
          </div>

          <div>
            <h6>Q. What is Extended Warranty ?</h6>
            <p><i class="fa-solid fa-arrow-right fa-lg"></i>  Customer can extend the warranty by one or two years for a nominal amount , anytime before the vehicle crosses 2 years or 40,000 kms , whichever is earlier .</p>
          </div>

          <div>
            <h6>Which is Extended Warranty Coverage ?</h6>
            <p><i class="fa-solid fa-arrow-right fa-lg"></i>  Mechanical & electrical breakdown of parts like engine, gearbox, steering , electrical items like Starter Motor,Alternator etc. are covered under extended warranty. ( For more details please refer to the extended warranty contract form & dealer).</p>
          </div>

          <div>
            <h6>Q. What is extended Warranty validity?</h6>
            <p><i class="fa-solid fa-arrow-right fa-lg"></i>  Validity of the Extended warranty would be as per plan chosen - plan-1 : 3rd yr or upto 60,000 kms(whichever occurs first) plan-2 : 3rd & 4th yr or upto 80,000 kms(whichever occurs first) from the date of sale of new vehicle after the expiry of the primary warranty of 2yrs/40,000 kms .</p>
          </div>

          <div>
            <h6>Q. What are the advantages of extended warranty ?</h6>
            <p><i class="fa-solid fa-arrow-right fa-lg"></i>  Extended warranty provides total peace of mind and also ensures a higher resale value for the car and it is available at nominal amount.</p>
          </div>

          <div>
            <h6>Q. Is MSM technical manpower trained ?</h6>
            <p><i class="fa-solid fa-arrow-right fa-lg"></i>  Yes all our technical manpower are well trained . They receive all necessary training at STC, MSIL, Gurgaon. In addition they receive certification from MSIL.</p>
          </div>

          <div>
            <h6>Q. Who Controls the Services ?</h6>
            <p><i class="fa-solid fa-arrow-right fa-lg"></i>  Maruti Service Masters is a Joint venture company of Maruti Suzuki. All operations are controlled by Maruti Suzuki India Limited.</p>
          </div>

          <div>
            <h6>Q. Do you provide breakdown service ?</h6>
            <p><i class="fa-solid fa-arrow-right fa-lg"></i>  We provide minor repair services through MOS . In case of major repairs the car is towed back to our workshop .</p>
          </div>

          <div>
            <h6>Q. Can I use my lubes for my vehicle ?</h6>
            <p><i class="fa-solid fa-arrow-right fa-lg"></i>  We usually do not recommend customer bringing his own type of Lube . We have an online oil delivery system in our workshop and we use recommended lube grades by Maruti Suzuki for its cars .</p>
          </div>

          <div>
            <h6>Q. What Engine oil do you use at top ups ?</h6>
            <p><i class="fa-solid fa-arrow-right fa-lg"></i>  We use Maruti Approved Genuine Oils of brand for replacement / top up.</p>
          </div>
          
          <div>
            <h6>Q. MARUTI ON ROAD SERVICE</h6>
            <p><i class="fa-solid fa-arrow-right fa-lg"></i>  24 Hour Maruti On Road Service ( MOS) centre during and emergency and help will be on its way to you (you can call at 18001021800).
                A computerized call monitoring system dispatches mobile MOS Van to you at the earliest You will be charged only as per MSIL recommended rats.</p>
          </div>

        </div>
        
        <div id="Spares" class="tabcontent">
          <h4 class="text-center">SPARES</h4>
          <div>
              <h6>Q. What is the source of spare parts used at MSM ?</h6>
              <p><i class="fa-solid fa-arrow-right fa-lg"></i>  We at MSM purchase Maruti Genuine Parts ( MGP) & accessories (MGA) from Spare Parts Division of MSIL</p>
          </div>

          <div>
            <h6>Q. What are the advantages of using genuine spare parts ?</h6>
            <p><i class="fa-solid fa-arrow-right fa-lg"></i>  Genuine Spare parts usage provide performance , safety & comfort to the customer .</p>
          </div>

        </div>
        
        <div id="Annual Maintenace Caontact" class="tabcontent">
          <h4 class="text-center">ANNUAL MAINTENANCE CONTRACT (AMC)</h4>
         <div>
            <h6>Q. What is the AMC PLAN?</h6>
            <p><i class="fa-solid fa-arrow-right fa-lg"></i>  AMC is a Annual Maintenance Contract for service and repair of your vehicle(Non accidetal)</p>
         </div>

         <div>
            <h6>Q. What are the various types of AMC offered by MSM ?</h6>
            <p><i class="fa-solid fa-arrow-right fa-lg"></i>  There are three types of AMC Plans area. Silver Plus b. Gold c. Gold Plus</p>
         </div>

         <div>
            <h6>Q. What are the main features of Silver Plus, Gold & Gold Plus AMC ?</h6>
            <p><i class="fa-solid fa-arrow-right fa-lg"></i>  a. Silver Plus : Unlimited Labor b. Gold: Unlimited Labor + Scheduled Parts as recommedned by MSIL c. Gold Plus : Unlimited Labor + Unlimited Parts(Plastic Parts, Glasses & Ornamental Parts are not coverd under this plan)</p>
         </div>

         <div>
            <h6>Q. Can a customer select AMC at any particular mileage of His/Her Car ?</h6>
            <p><i class="fa-solid fa-arrow-right fa-lg"></i>  Yes he/she can select AMC at any particular mileage in multiples of 10,000 Km.(Not more than 80,000 Km.)</p>
         </div>

         <div>
            <h6>Q. What is cost of AMC PLANS?</h6>
            <p><i class="fa-solid fa-arrow-right fa-lg"></i>  It depends on Type of vehicle, Model/ variant and Km range.</p>
         </div>

         <div>
            <h6>Q. Can a customer avail the AMC at any of Maruti authorised workshops ?</h6>
            <p><i class="fa-solid fa-arrow-right fa-lg"></i>  No , these AMC policies are only issued & honoured at MSM workshops at Okhla,GTK & Chennai .</p>
         </div>

        </div>

        <div id="Body & Paints" class="tabcontent">
            <h4 class="text-center">BODY & PAINTS</h4>
            <div>
                <h6>Q.What do you mean by 2K Paint System</h6>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i>  This is a premium- urethame (PU) refinish system. The paint is dry by chemical reaction between two components & it is having a higher gloss & better durability and thickness of the paint film. OEM generally recognise 2K paint system and refinishing.</p>
            </div>

            <div>
                <h6>Q. What are the best practices that we observed in Refinish Paint System ?</h6>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i>  We utilise an efficient system of process and equipment to bring the car back to its original finish.</p>
            </div>

            <div>
                <h6>Q. What do you mean by crash repair system ?</h6>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i>  Crash repair system is the Computerised Body pulling equipments which are used for straightening of the body parts .This also helps in setting the right the damaged body parts as per Maruti Suzuki original vehicle body dimensions .Body parts have to be strightened without damaging the original sheet parts and maintaining its strength.</p>
            </div>

            <div>
                <h6>Q. Which is the crash repair system used by MSM ?</h6>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i>  We use the OEM recommended Car-O-Liner system .</p>
            </div>

            <div>
                <h6>Q. Which are the other equipments used at MSM for Body Shop Repairs ?</h6>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i>  3M Dry Sanding System, Infrared Dryer, Mig Welding, Spot Welding, Elgi Paint Booth</p>
            </div>

            <div>
                <h6>Q. What do you mean by DRY Sanding ?</h6>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i>  Dry sanding is a mechanical system where the sanding action on the primer and putty during paint preparation is done by orbital sander fitted with 3M abrasives. Dry Sanding will produce uniform quality without wetting the surface, when the base paint will be applied it will have a better finish.</p>
            </div>

            <div>
                <h6>Q. What do you mean by Depreciation ?</h6>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i>  For every part that is cleared and replaced under Insurance depending on the age of the vehicle & type of part . Following % of the value of the parts is payable by the Vehicle owner on account of depreciation.</p>
            </div>

          </div>

        <div id="Age of the Vehicle" class="tabcontent">
            <h4 class="text-center">AGE OF THE VEHICLE</h4>
        
            <table>
                <tr>
                    <td> LESS THAN 6 MONTHS</td>
                    <td>5%</td>
                </tr>

                <tr>
                    <td>6 MONTHS TO 1 YEAR</td>
                    <td>10</td>
                </tr>

                <tr>
                    <td>1 YEAR TO 2 YEARS</td>
                    <td>15%</td>
                </tr>

                <tr>
                    <td> 2 YEARS TO 3 YEARS</td>
                    <td>25%</td>
                </tr>

                <tr>
                    <td> 3 YEARS TO 4 YEARS</td>
                    <td>35%</td>
                </tr>

                <tr>
                    <td> 4 YEARS TO 5 YEARS</td>
                    <td>40%</td>
                </tr>

                <tr>
                    <td> 5 YEARS TO 10 YEARS</td>
                    <td>50%</td>
                </tr>

                <tr>
                    <td>MORE THAN 10 YEARS</td>
                    <td>50%</td>
                </tr>

                <tr>
                    <td> PARTS</td>
                    <td>	RATE OF DEPRECIATION</td>
                </tr>

                <tr>
                    <td> All Rubber / Plastic parts</td>
                    <td>50% irrespective of the age of vehicle</td>
                </tr>

                <tr>
                    <td> Glass Parts</td>
                    <td>	NIL</td>
                </tr>

                <tr>
                    <td> Metal Parts</td>
                    <td>Depending upon the age of the vehicle( See depreciation table)</td>
                </tr>
            </table>

          </div>

          <div id="True Value" class="tabcontent">
            <h4 class="text-center">TRUE VALUE</h4>           
             <div>
                <h6>Q. Why should I come to Maruti Service Masters for buiying certified Pre- Owened car?</h6>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i>  1. Every True Val;ue car is handpicked. 2. 120-Quality checks by Maruti Suzuki trained Engineers. 3.Bonafides of the Seller are Verifed.4. RTO Paper are transerred in you aname. 5. All cars refurbished with Maruti Genuine Parts.</p>
             </div>

             <div>
                <h6>Q. What does Maruti Certified cars mean ? </h6>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i>  Certification is assurance of quality of the car that we deliver to you. You get a Maruti Suzuki warranty upto one-year and three free services only when Maruti Suzuki engineer certifies the car. Your car has passed through a comprehensive 120-point check to ascertain the Maruti Suzuki standard. The car you get is refurbished with Maruti genuine parts (MGP) and by Maruti Suzuki trained personnel at the state-of-the-art Maruti Suzuki authorized workshops. We also verify the bona fides of the seller.</p>
             </div>

             <div>
                <h6>Q. What criteria cars are sold under TrueValue?</h6>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i>  Maruti Suzuki cars up to 10 years old and mileage up to 1,00,000 Km is the criteria for sale and purchase under TrueValue.</p>
             </div>

             <div>
                <h6>Q. Is there any financing facility on the TrueValue cars?</h6>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i>  Yes, There are attractive finance options are available. To find out more, you may visit the "Maruti Service Masters TrueValue" outlets.</p>
              
             </div>

             <div>
                <h6>Q. What are the documents I will get when I buy a TrueValue car?</h6>
                <span>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i>  You get a certificate signed by Maruti Suzuki engineer.</p>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i>  A warranty booklet signed by Maruti Suzuki Engineer.</p>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i>  Insuance Policy tranfered in your name</p>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i>  Vehicle's Registration transferred in your name.</p>
                </span>
             </div>

             <div>
                <h6>Q. What is the warranty criteria in true value?</h6>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i>  There are three types of Warranty categories:-</p>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i>  PTV – One year warranty / 15000 Kms. Whichever occurs earlier & Three free service</p>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i>  STV – Six months warranty / 7500 Kms. Whichever occurs earlier & Three free service.</p>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i>  NTV – No warranty .</p>
             </div>

             <div>
                <h6>Q. Which are the parts covered under True Value warranty?</h6>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i>  As per the warranty policy provided in the TRUE VALUE owner's manual, all mechanical and electrical parts are covered ( for details please refer to TRUE VALUE Dealer)</p>
             </div>

             <div>
                <h6>Q. What is the time period for the free services?</h6>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i>  First Free Service:Within 45 to 60 days or running 1000 - 1500 km, (over and above the mileage at the time of delivery) whichever occurs earlier.
                </p>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i>  Second Free Servgice: Within 90 to 120 days or running 5000 - 5500 km, (over and above the mileage at the time of delivery) whichever occurs earlier.</p>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i>  Third Freee Serive: Within 210 to 240 days or running 10,000 - 10,500 km, (over and above the mileage at the time of delivery) whichever occurs earlier.</p>
             </div>

             <div>
                <h6>Q. What will be the TrueValue price of my car?</h6>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i>  The TrueValue price of your car will arrive at through our transparent evaluation system, which looks in to the merits of your car,which will be based on 120 ponts to give you the best possible price of your Maruti Suzuki car.</p>
             </div>

             <div>
                <h6>Q. Where can I get the evaluation of my car done?</h6>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i>  You may visit any of our Maruti Service Masters TrueValue out-lets. Our trained professionals will perform the evaluation of your car. The procedure would take 15-20 minutes, and then the best price will be offered to you.</p>
             </div>

             <div>
                <h6>Q. Where can I get the evaluation of my car done?</h6>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i>  You may call of visit any of our Maruti TrueValue out lets in your city. Our trained professionals perform the evaluation of your car. The procedure would take 15-20 minutes, and then the price is offered to you.</p>
             </div>

             <div>
                <h6>Q. How fast does a seller get the payments?</h6>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i>  The payments in full immediately are made once the seller bona fides are verified at the RTO.and ahnding over of required documents in Orrignal i.e R.C, Insurance policy, Invoice, Address Proof. Id Proof etc.</p>
             </div>

             <div>
                <h6>Q. What is the Maruti Suzuki Exchange?</h6>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i>  It is the most reliable way of exchanging/upgrading your existing car with a brand new Maruti Suzuki. You will get best value when you exchange your existing car of any make with a brand new one. We ensure that you get the best possible price on your car. You can choose from attractive exchange options on our wide range of products.</p>
             </div>

             <div>
                <h6>Q. Where can I avail this exchange facility?</h6>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i>  You can avail this facility at any of the Maruti Service Masters True Value Out-lets</p>
             </div>

             <div>
                <h6>What is the procedure for exchanging my car for a new Maruti Suzuki?</h6>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i>  It is very simple. Our trained professionals will give the value of your car after a transparent evaluation. The value thus arrived is adjusted in the new car price you wish to buy. The remaining amount can be financed in very easy installments (EMI) or can be paid by cash. All other requirements like, finance, insurance, accessories are available under one roof. And we take care of all the documentation so you ca just drive in with your car and drive out with a brand new Maruti Suzuki.</p>
             </div>

          </div>

          <div id="Insurance" class="tabcontent">
            <h4 class="text-center">INSURANCE</h4>
           <div>
            <h6>Q. What is comperhansive/Package policy ?</h6>
            <p><i class="fa-solid fa-arrow-right fa-lg"></i>  Comprehensive Insurance Policy which coveres Liability as well as Own damage to insured vehicle. T& C apply as per IRDA (Insurance regulatory & Development Authority).</p>
           </div>

          <div>
            <h6>Q. What is Third party/Liability only policy?</h6>
            <p><i class="fa-solid fa-arrow-right fa-lg"></i> Third party Insurance is a mandatory for all vehicles plying on public roads in India. This covers liability for injuries and damages to others that you are responsible for.</p>
          </div>

          <div>
            <h6>Q. What to do when my car's Insurance Policy falling due for Renewal?</h6>
            <p><i class="fa-solid fa-arrow-right fa-lg"></i> Just call Maruti Service Masters Insurance section at @01140685500 & 9654957031 and we will do the rest to deliver your policy at yourstep</p>
          </div>

          <div>
            <h6>Q. What to do if my car meets with an accident?</h6>
            <p><i class="fa-solid fa-arrow-right fa-lg"></i> Simply inform or visit Maruti Service Masters/Maruti Insurance. We will assist you with your claim intimation and other fomalties to be carried out.Please ensure that the claim is intimated to Maruti Insurance within 24 hours of accident or on thenext working day.</p>
          </div>

          <div>
            <h6>From where customer can get his vehicle insured and Which vehicles can be covered under Insurance renewal at MSM ?</h6>
            <p><i class="fa-solid fa-arrow-right fa-lg"></i> Upto 10 year old All Maruti Suzuki Vehicles are covered under Insurance Renewal done at MSM. *(t&c Apply)
                Only Package Policy (Comprehensive Insurance) can be taken, no Third Party policy is given.</p>
          </div>

          <div>
            <h6>Q. Can I convert my Car Insurance Policy of Other Insurance Co. to MI Policy?</h6>
            <p><i class="fa-solid fa-arrow-right fa-lg"></i> Yes, you can convert your car insurance policy of other Insurance company to MI which will be espically with National Insurance Co Ltd ( NIC) & ICICI Lombard, New india. IFFCO TOKIO,ROYAL SUNDRAM,BAJAJ ALLIANZ In case you are willing for conversion you may contact our Insurance Executive.</p>
          </div>

          <div>
            <h6>Q. Can I transfer my No Claim Bonus (NCB) prevailing on my present policy to Insurance policy ?</h6>
            <p><i class="fa-solid fa-arrow-right fa-lg"></i> Yes, the NCB can be carry forwarded to your vehicle Insurance Policy till the time No claim has been lodged.</p>
          </div>

          <div>
            <h6>Q. In case of migration to another city, what is to be done ?</h6>
            <p><i class="fa-solid fa-arrow-right fa-lg"></i> Contact any Maruti Suzuki Dealer, who will assist you in the same way as MSM for endorsing the current address in your city.</p>
          </div>

          <div>
            <h6>Q. If I fit CNG or LPG kit to my vehicle,is it necessary to inform the Insurance Company?</h6>
            <p><i class="fa-solid fa-arrow-right fa-lg"></i> In case CNG/LPG kit is fitted to the vehilce same to be endorsed in the RC of the vehicle,and at the same time insurance company should also be informed to have the kit covered on payment of extra premium on value of the kit under "OD" section and also under "TP" section.</p>
          </div>

          <div>
            <h6>Q. In case of post accident repair, will the insurance take care of all costs ?</h6>
            <p><i class="fa-solid fa-arrow-right fa-lg"></i> In case of replacement of parts, depreciation depending on age of car and item replaced is applicable. This is as mentioned in your insurance policy.
                Any extra job done (i.e. not related to the accident) by the workshop on your instructions, e.g. maintenance-related servicing, cost of towing in excess of Rs. 1500, and all other costs will be borne by you.
                The actual cost of restoring your car to its pre-accident condition will be settled directly between the Customer and the insurance company.</p>
          </div>

          <div>
            <h6>Q. What is deductible?</h6>
            <p><i class="fa-solid fa-arrow-right fa-lg"></i> The workshop will inform you the costs to be borne by you towards depreciation, extra job done and amount under excess clause over and above will be payable. There is a normal standard/complusary excess for the most vehicles ranging form Rs.500 to Rs 2000 depending upon the cc of the vehicle,This must be paid to the Maruti Suzuki Dealer before the repaired car is delivered back to you.</p>
          </div>

          <div>
            <h6>Q. Does Insurance company charges extra Premium for its Unique Benefits?</h6>
            <p><i class="fa-solid fa-arrow-right fa-lg"></i>  No, Motor Insurance is a Tariff Insurance Product, which means the premium has to be same for all Companies, provided they offer the same cover.</p>
            <p><i class="fa-solid fa-arrow-right fa-lg"></i> The premium rates can differ only when there are some exclusion in the Cover.</p>
            <p><i class="fa-solid fa-arrow-right fa-lg"></i> Factors affecting Premium are:</p>
            <p><i class="fa-solid fa-arrow-right fa-lg"></i> Third Party Cover (TP)</p>
            <p><i class="fa-solid fa-arrow-right fa-lg"></i> The Premium based on Vehicle CC. It covers TP Life for Unlimited Value and and TP Property damage for Rs. 7.5 Lacs. There is an option to reduce the insurance company liability from 7.5 Lacs to Rs. 6000, the premium would reduce by Rs.100.
                Owner/ Driver Personal Accident Cover</p>  <br>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i> But in case the Owner has another vehicle in his name, and has taken this cover in that vehicle also, this Cover can be made Optional, and premium can be reduced by Rs.100.</p>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i> It is mandatory to give, its insures Vehicle Owner for Rs. 2 Lacs, premium cost is Rs. 100.</p>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i> Anti Theft Device discount</p>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i> If you car is fitted with anAnti Theft Alarm , Central locking system (with remote), you are entitled for an Anti theft Discount, which can be upto Rs. 500, depending on your Total Premium.</p>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i> Voluntary Excess/ Deductible</p>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i> This is an option that if the Customer agrees to bear the first claim cost upto Rs. 2500/5000/7500/15000, the customer can get discount upto Rs.750 / 1500 / 2000 / 2500 respectively at the time of taking Insurance.</p>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i> Personal Accident Cover for Passengers</p>
                <p>This is Optional Cover. Its cost is Rs.100 per passenger, for cover of Rs. 2 Lac.</p>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i> Rs.2 Lac is the maximum coverage that can be offered, it can be reduced proportionately upto Rs.5 for Rs.10000 cover.</p>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i> Registration City : Premium Rate varies based on Registration City also.</p>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i> Other factors which are for Premium Calculations are:</p>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i> Insured Declared Value (IDV), Insured Vehicle Value Engine CC</p>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i> Discounts- No Claim Bonus, details as given below in case no accidental claim is made:</p>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i> 2nd year – 20% of Own damage value</p>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i> 3rd year - 25% of own damage value</p>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i> 4th year - 35% of own damage value</p>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i> 5th year - 45% of own damage value</p>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i> 6th year and more – 50% of own damage value</p>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i> Automobile Association Membership</p>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i> CNG / LPG- Inbuilt or External</p>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i> Electrical / Non Electrical Accessories insured</p>
                <p><i class="fa-solid fa-arrow-right fa-lg"></i> Vehicle type- Private or Commercial</p>
                pCustomer type- Individual/ Corporate
          </div>

       

          </div>

        </div> 
        </div>
        <!--  -->
    </div>
   </div>
    <!-- faq end -->
    <script>
        function openCity(evt, cityName) {
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
          }
          document.getElementById(cityName).style.display = "block";
          evt.currentTarget.className += " active";
        }
        </script>
    <!-- footer -->
    <%- include('./common/footer') -%>
