<%- include('./common/header') -%>
    <!-- header -->

    <div class="container-fluid aboutbg">
        <div class="row p-5">
            <div class="">
               <span class="">
                <h2 class="text-white">Insurance Renewal</h2>
                <p class="text-white">HOME > SERVICES > INSURANCE RENEWAL > <span class="page_active">INSURANCE RENEWAL REQUEST </span> </p>
               </span>
            </div>   
        </div>
    </div>

    <div class="container-fluid mt-3 mb-3">
        <div class="row justify-content-center">
            <!-- <div class="col-md-4">
           
        </div> -->
            <div class="col-md-5 border border-3 p-3 formservice">
                <h3 class="color text-center">Insurance Renewal Request</h3>
                <form class="mt-4 formservice" action="" method="post">
                    <div>
                        <label class="" for="">Location</label>
                        <select class="" name="location" id="">
                            <option value="G.T. Karnal Road(Delhi)">G.T. Karnal Road(Delhi)</option>
                            <option value="Okhla Indl Area Phase-II (Delhi)">Okhla Indl Area Phase-II (Delhi)</option>
                            <option value="Plote N0. 09,South Phase (Chennai)">Plote N0. 09,South Phase (Chennai)
                            </option>
                        </select>
                    </div>
                    <!--     
           <div>
            <label class="" for="">Service Type :</label>
            <select class="" name="swervice_type" id="">
                <option value="1st Free Service">1st Free Service</option>
                <option value="2nd Free Service">2nd Free Service</option>
                <option value="3rd Free Service">3rd Free Service</option>
                <option value="Paid Service">Paid Service</option>
                <option value="Door Step Service">Door Step Service</option>
                <option value="Running Reapir(Any Unachedual Repair)">Running Reapir(Any Unachedual Repair) </option>
                <option value="Accidental/Body Repair">Accidental/Body Repair</option>
            </select>
           </div>
         -->
                    <div>
                        <label class="" for="">Best day & time to contact: </label>
                        <select class="" name="servicetype" id="">
                            <option value="Week Day">Week Day</option>
                            <option value="Weekend">Weekend</option>
                            <option value="Morning">Morning</option>
                            <option value="Afternoon">Afternoon</option>
                            <option value="Evening">Evening</option>
                        </select>


                    </div>



                    <div>
                        <label class="" for="">Car Model* :</label>
                        <select class="" name="carmodel" id="">
                            <option value="A-Srat">A-Srat</option>
                            <option value="Alto">Alto</option>
                            <option value="Alto 800">Alto 800</option>
                            <option value="Alto K10">Alto K10</option>
                            <option value="Baleno">Baleno</option>
                            <option value="Celerio">Celerio</option>
                            <option value="Ciaz">Ciaz</option>
                            <option value="Eeco">Eeco</option>
                            <option value="Ertiga">Ertiga</option>
                            <option value="Esteem">Esteem</option>
                            <option value="Grand Vitara">Grand Vitara</option>
                            <option value="Gypsy">Gypsy</option>
                            <option value="Kizashi">Kizashi</option>
                            <option value="Maruti 1000">Maruti 1000</option>
                            <option value="Maruti 800">Maruti 800</option>
                            <option value="New Swift Dzire">New Swift Dzire</option>
                            <option value="New Swift K12">New Swift K12</option>
                            <option value="Omni">Omni</option>
                            <option value="Ritz">Ritz</option>
                            <option value="S-cross">S-cross</option>
                        </select>
                    </div>

                    <div>
                        <label for="">Vechile Regn. Number:</label>
                        <input class="" type="text" name="regnumber">
                    </div>

                    <div>
                        <label for="">Chassis Number:</label>
                        <input class="" type="text" name="chassisnumber">
                    </div>

                    <div>
                        <label for="">Engine Number:</label>
                        <input class="" type="text" name="enginenumber">
                    </div>
                    <div>
                        <label class="" for="">Current Insurance Co* :</label>
                        <select class="" name="currentinsurance" id="">
                            <option value="New India Assurance">New India Assurance</option>
                            <option value="Oriental General Insurance">Oriental General Insurance</option>
                            <option value="United India Insurance">United India Insurance</option>
                            <option value="Bharti AXA General Insurance">Bharti AXA General Insurance</option>
                            <option value="Fututre General India Insurance">Fututre General India Insurance</option>
                            <option value="HDFC ERGO General Insurance">HDFC ERGO General Insurance</option>
                            <option value="ICICI Lombarad">ICICI Lombarad</option>
                            <option value="IFFCO Tokyo">IFFCO Tokyo</option>
                            <option value="Liberty Videcon General Insurance Co Ltd">Liberty Videcon General Insurance Co Ltd</option>
                            <option value="L&TGeneral Insurance">L&TGeneral Insurance</option>
                            <option value="MAgma HDI General Insurance Co Ltd">MAgma HDI General Insurance Co Ltd</option>
                            <option value="Reliance Genera Insurance">Reliance Genera Insurance</option>
                            <option value="Tata AIG">Tata AIG</option>
                            <option value="Chola Mandalam">Chola Mandalam</option>
                            <option value="Apollo Munich">Apollo Munich</option>
                            <option value="Royal Sundaram">Royal Sundaram</option>
                            <option value="Bajaj Allianz">Bajaj Allianz</option>
                            
                        </select>
                    </div>


                    <!-- <div>
                        <label class="" for="">Date of Expiry of Policy :</label>
                        <input type="date" name="" id="" name="date_for_service">
                    </div> -->

                    <div>
                        <label class="" for="">First Name* :</label>
                        <input type="text" id="" name="firstname">
                    </div>

                    <div>
                        <label class="" for="">Last Name* :</label>
                        <input type="text" id="" name="lastname">
                    </div>

                    <div>
                        <label class="" for="">Email* :</label>
                        <input type="email"  id="" name="email">
                    </div>

                    <div>
                        <label class="" for="">Pin Code :</label>
                        <input type="text"  id="" name="pincode">
                    </div>
                    <div>
                        <label class="" for="">Phone Number* :</label>
                        <input type="text" id="" name="phonenumber">
                    </div>

                    <!-- <div>
                        <label class="" for="">Pick-Up require(T & C) :</label>
                        YES <input class=" pickup" type="radio" name="require" id="" value="YES">
                        No <input class="pickup" type="radio" name="require" id="" value="No">
                    </div> -->

                    <div class="row justify-content-center mt-3">
                        <button type="submit" class="btn btn-outline-success  mx-2">SUBMIT</button>
                        <button class="btn btn-outline-danger  mx-2">BACK</button>
                    </div>
                </form>



            </div>
        </div>
    </div>
    <!-- footer -->
    <%- include('./common/footer') -%>