<%- include('./common/header') -%>
<!-- header -->

<div class="container-fluid aboutbg ">
    <div class="row p-5">
        <div class="">
           <span class="">
            <h2 class="text-white">Insurance Renewal</h2>
            <p class="text-white">HOME > SERVICES > <span class="page_active">INSURANCE RENEWEL</span> </p>
           </span>
        </div>   
    </div>
</div>

<div class="container-fluid insurance p-2">
<div class="row py-2">
    <div class="col-md-12 text-center">
        <img class="img-fluid" src="images/insurance.jpg" alt="">
    </div>
<div class="col-md-5">
    <!-- <img class="img-fluid" src="images/insurance.jpg" alt=""> -->
    <img class=" w-100" src="images/i1.webp" alt="">
</div>
<div class="col-md-7 p-4">
    <p>Policy sold by MSM are recognized by all Maruti Authorized dealers across the country
        MSM has highly sophisticated body shops with trained staff, being Maruti we only use Genuine Maruti Spares Parts
        No wonder we have high level of customer satisfaction.</p>

        <h4 class="color">Major Benefits of Maruti Insurance</h4>
        <p> <i class="fa-solid fa-arrow-right fa-sm text-primary"></i> Near Cashless post accident repair</p>
        <p> <i class="fa-solid fa-arrow-right fa-sm text-primary"></i> Nationwide Repair at all Maruti Authorized Dealers Workshop</p>
        <p><i class="fa-solid fa-arrow-right fa-sm text-primary"></i> Easy settlement of claims with virtually no follow-up</p>
        <p><i class="fa-solid fa-arrow-right fa-sm text-primary"></i>Transfer of No claim bonus as per rules</p>
        <p> <i class="fa-solid fa-arrow-right fa-sm text-primary"></i> Assistance available.</p>
        
           <a href="/insuranceform"> <button  class="btn btn-primary text-white">REQUEST FOR INSURANCE RENEWEL</button></a>
           
</div> 
</div>
</div>

<div class="container-fluid insurance2">
    <div class="row justify-content-center p-3 text-center">
        <h3 class="h2text">MARUTI INSURANCE BOOKING</h3>
        <p class="text-center">ensure complete peace of mind for its customers</p>
        <div class="col-md-3 border border-primary rounded-top mx-2 my-2 p-2 out">
            <div class="text-center">
                <img src="images/3490723.png" alt="">
            </div>
            <p class="fs-6 fw-bold color">Loss or Demage protection</p>
        </div>
        <div class="col-md-3 border border-primary rounded-top mx-2 my-2 p-2 out">
            <div>
                <img src="images/cashless.png" alt="">
            </div>
            <p class="fs-6 fw-bold color">Cashless Claims</p>
        </div>
        <div class="col-md-3 border border-primary rounded-top mx-2 my-2 p-2 out">
            <div>
                <img src="images/personal.png" alt="">
            </div>
            <p class="fs-6 fw-bold color">Personal Accident Cover</p>
        </div>

    </div>
</div>

<!-- footer -->
<%- include('./common/footer') -%>