<%- include('./common/header') -%>
<!-- heder -->
<div class="container-fluid aboutbg ">
    <div class="row p-5">
        <div class="">
           <span class="">
            <h2 class="text-white">Labour Compliance</h2>
            <p class="text-white">HOME > PAGES > <span class="page_active">LABOUR COMPLIANCE</span></p>
           </span>
        </div>   
    </div>
</div>

<!-- com strat -->
<div class="container labour">
<div class="row">
<div class="col-md-6 p-3">
    <img  class="img-fluid" src="images/labour.png" alt="">
     <p>J.J Impex (Delhi) Pvt. Ltd.</p>
     <button class="btn btn-primary">View Compliance's</button>
</div>
<div class="col-md-6 p-3">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident, ea. Quas debitis quis accusantium, iure fuga, dolore, reiciendis totam commodi quisquam sit aliquid quo at soluta accusamus? Iste, laudantium est.
</div>

</div>
</div>
<!-- com end -->
<!-- footer -->
<%- include('./common/footer') -%>