<%- include('./common/header') -%>
<!-- header -->
<div class="container">
    <div class="row">
        <div class=" col-md-6">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis velit architecto, autem consectetur debitis perspiciatis cupiditate exercitationem aliquid ipsum. Corporis, a incidunt et blanditiis, iusto nisi explicabo eligendi temporibus itaque ipsa quis eveniet dicta omnis illo ut nesciunt reprehenderit assumenda. Quaerat dicta in ipsum animi eum perferendis cumque optio, necessitatibus porro itaque sed saepe cum harum vero fuga accusamus. Magni voluptatum quae obcaecati quos corporis molestias asperiores dolore reiciendis consequuntur excepturi non vel, praesentium unde, deserunt consequatur? Minima doloremque architecto optio dolorem illo ab eaque excepturi debitis, repudiandae, reprehenderit cupiditate. Laborum in voluptates explicabo non aliquam, voluptatem mollitia earum neque?</p>
        </div>
        <div class="col-md-6">
            <p>hello</p>
        </div>
    </div>
</div>
<!-- footer -->
<%- include('./common/footer') -%>