

<!-- footer start -->
<div class="container-fluid footer_back">
    <div class="row text-white mx-auto ">
<div class="col-md-3 p-3 p-md-5">
    <h5>Head Office</h5>
    <p>F-39 OKHLA INDL AREA PHASE – II NEAR C-LAL CHOWK NEW DELHI-110020 PH: 011-40685500 / 595,011-26384271 / 72, 011-41612194 / 95, Fax: 011-26385008</p>
</div>
<div class="col-md-3  p-3 p-md-5">
    <h5>Work Shop-1</h5>
    <p>F-39 Okhla Indl Area Phase-II, Near C-Lal Chowk New Delhi-110020 Ph: 011-40685500 / 595,011-26384271 / 72, 011-41612194 / 95, Fax: 011-26385008</p>
</div>
<div class="col-md-3  p-3 p-md-5 ">
    <h5>Work Shop-2</h5>
    <p>Maruti Service Masters C-7, SMA Industrial Estate G.T. Karnal Road, Metro Pillar No. 136 Opp. Jahangirpuri,Delhi-110033
        Ph: 40715500/01/03, 27693870/ 71/72, Fax : 27693256</p>
</div>
<div class="col-md-3  p-3 p-md-5">
    <h5>Work Shop-3</h5>
    <p>Plot No. 9, South Phase Thiru-vi-ka industrial Estate ( Behind Olympia Tech Park) Chennai -600032. Ph 044-43563366 / 67, Fax: 044-43563368</p>
</div>
<hr>



    </div>
</div>

<!--  -->
<div class="container-fluid footer_last">
    <div class="row p-0 m-0">
        <div class="col-md-4 text-center  py-3">
            <p class="p-0 mb-0">                
                Email us :
                contact@example.com</p>
        </div>
        <div class="col-md-4  text-center   py-3">
            <p class="text-center p-0 mb-0">Copyright by manthan It soltions 2023</p>
        </div>
        <div class="col-md-4  text-center  py-3">
            <p class="p-0 mb-0">Call us on :
                + 1800 456 7890</p>
        </div>

       
        
    </div>
</div>

<!-- footer end -->



<script src="/static/js/bootstrap.js"></script>

</body>
</html>