<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="../syle.css">
  <link rel="stylesheet" href="../mediastyle.css">
  <title>Document</title>
</head>
<body>

<!--  -->
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top ">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img class="logo" src="images/mlogo.jpg" alt="">
      </a>
      <!-- <img class="logo" src="images/logo.jpg" alt=""> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/aboutus">ABOUT US</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link active  dropdown-toggle" href="#" id="navbarDropdown"role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">SERVICES</a>
            <ul class="dropdown-menu   text-center justify-content-center" >
              <li><a class="dropdown-item" href="/carservices">CAR SERVICES</a></li>
              <li><a class="dropdown-item" href="/bodypaint">BODY PAINTS</a></li>
              <li><a class="dropdown-item" href="/insurancerenewal">INSURANCE RENEWAL</a></li>
              <li><a class="dropdown-item" href="/amcprivilegeclub">AMC PRIVELEGE CLUB</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown"role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">PAGES</a>
            <ul class="dropdown-menu  text-center justify-content-center" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">LOYALITY PROGRAMME</a></li>
                <li><a class="dropdown-item" href="/labour">LABOUR COMPLIANCE</a></li>
                <li><a class="dropdown-item" href="/careers">CAREERS</a></li>
                <li><a class="dropdown-item" href="/FAQS">FAQs</a></li>
              </ul>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active" href="contactus">CONTACT US</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link active" href="#">BLOG</a>
          </li>  -->

          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
         
        </ul>
       
      </div>
    </div>
  </nav>
<!--  -->

